[user]
	email = michalwadas@gmail.com
	name = Michał Wadas
[core]
	excludesfile = /home/ginden/.gitignore_global

[alias]
    all-tags = show-ref --tags
    authors = !"git log --format='%aN' | sort -u"
    amend = commit -a --amend
    branch-name = rev-parse --abbrev-ref HEAD
    branch-status = !"git ifetch >> /dev/null && git branch -v"
    branches = branch -avvl
    exec = ! exec
    empty-commit="commit --allow-empty"
    graph = log --graph --abbrev-commit --decorate --date=relative --all
    ifetch = fetch -v --all
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    publish = !"git push --set-upstream origin $(git branch-name)"
    puff = pull --ff-only
    root = rev-parse --show-toplevel
    st = status
    stashes = stash list
    tags = tag
    unstage = reset HEAD --
    upstream-name = !git for-each-ref --format='%(upstream:short)' $(git symbolic-ref -q HEAD)
    wip = !git commit -m \"WIP: $(fortune)\" --no-verify

[push]
	default = matching
[credential]
	helper = cache
